html, body {
    padding: 0;
    margin: 0;
}
.hidden {
    display: none;
}
.error {
    display: none;
}
html::-webkit-scrollbar { display: none; }
h2, h1, h4, p, h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    color: white;
}
h1, h2, h3, h4 {
    text-transform: uppercase;

}

a{font-family: 'Montserrat', sans-serif;text-decoration: none;}
a > span { margin: auto;}
h2 {font-size: 1em;}
h2 {font-weight: 800;}
p, a, .c{font-size: 14px;font-weight: normal;}
h1, h4 {font-weight: 600;}
h1 {font-size: 17px;}
h3 {font-size: 47px;font-weight: 100;}
h4 {font-size: 27px;}
img{width: 100%;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;font-weight: 600;
    text-transform: uppercase;
    color: #444444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li {float: left;}
  li a:hover {
    transition: 0.3s;
  }

.cf-holder-child > input[type="text"]:valid,
.cf-holder-child > input[type="email"]:valid,
.cf-holder-child > input[type="number"]:valid,
.cf-holder-child > textarea[type="text"]:valid {
    color: #5f8f1f;
    transition: 0.3s;
}
.pmc-red {
    background: #d53130;
}
.pmc-cred {
    color: #d53130;
}
.pmc-blue {
    background: #00276c;
}
.pmc-cblue {
    color: #00276c;
}
.pmc-cyan {
    background: #1cbac6;
}

.pmc-green {
    background: #5f8f1f;
}
.pmc-cgreen {
    color: #5f8f1f;
}
.pmc-white {
    background: #fff;
}

.pmc-black {
    background: #161616;
}
.pmc-cblack {
    color: #333333;
}
.pmc-cwhite {
    color: #fff;
}

.pmc-gray {
    background: #3c3c3c;
}
.pmc-cgray {
    color: #727071;
}
.bold {
    font-weight: bold;
}
.full-width {
    width: 100% !important;
}


.rows {
    background: #fff;
    padding: 0;
    margin: 5% 0 5% 0;
    width: 100%;
}
.global-container {
    margin: auto;
    width: 70%;
}

.global-four-col {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    padding: 5vh 0px;
}
.global-three-col {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}
.global-two-col {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}
.global-un-gap {
    grid-column-gap: 0px;

}
.no-margin {
    margin: 0;
}
.margin-auto {
    width: 80%;
    margin: auto;
}
.margin-bottom-more {
    margin-bottom: 20px;
}
.margin-top {
    margin-top: 10px;
}
.margin-right {
    margin-right: 10px;
}
.global-three-col > div > img {
    width: 100%;
}

.underline {
    height: 2px;
    width: 40px;
}
.icn-center {
    display: flex;
    align-items: center;
}

.icn-center > * {
    font-size: 20px;
    position: relative;
    display: block;
    margin: auto;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.fullscreen {
    height: 100vh;
    width: 100%;
}
.halfscreen {
    height: 70vh;
    width: 100%;
}

.flex {
    display: flex;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-l {
    float: left;
}
.float-r {
    float: right;
}

.button {
    background: transparent;
    border: none;
    outline: 0;   
}
.flat-button {
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    outline: 0;
    border: none;
}
.flex {
    position: relative;
    display: flex;
    align-items: center;
}

.newsletter {
    display: block;
    border: none;
    border-radius: 25px;
    outline: 0;
    color: #727071;
    height: 20px;
    width: 70%;
    padding: 5px 5px 5px 10px;
}

.submit { 
    display: block; 
    border: none;
    border-radius: 25px;
    outline: 0;
    color: #fff;
    padding: 5px 10px;
    transition: 0.3s;
}

.submit:hover {
    transition: 0.3s;
    content: "test";
    padding-right: 25px; 
}

.bread-crumbs {
    position: relative;
    display: flex;    
    align-items: center;
}
.bread-crumbs > * {
    margin-right: 8px;
}

.come-in {
    opacity: 0;
    transform: translateY(150px);
    animation: come-in 1.5s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 1.0s; /* So they look staggered */
  }
  
  @keyframes come-in {
    to { 
        transform: translateY(0px); opacity: 1; }
  }
.indent {
    text-align: justify;
    text-indent: 45px;
}