.global-three-col, .global-two-col,
.final-last-two-col{
    grid-template-columns: 1fr;
    grid-gap: 5vh ;
}
.global-four-col {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vh ;

} 
.global-un-gap {
    grid-gap: 0vh;
}
.banner {
    height: 100vh;
}

.title-desc {
    font-size: 12px;    
}
.banner-content-container {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 40%;
    font-size: 20px;
}
.banner-content-container-child {
    top: 20%;
    width: 70%;
}
.second-row {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

.second-row > div:first-child {
    display: none;
}
.second-row-left, .second-row-right {
    padding: 15%;
}

.fourth-row-content-container {
    background: #00276c;
    padding: 20px;
}

.footer-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 5vh;
}
.slider-container {
    height: 140vh;
}

#counter {
    font-size: 20px;
}
.counter-grid {
    margin: 0px;
    grid-template-columns: 1fr;
}

.padded {
    padding: 25px 0px 0px 0px;
}
.web-menu {
    display: none;
}
.mobile-menu-bars, .mobile-menu {
    display: block;
}

.product-grid {
    grid-template-columns: 1fr;
}

.product-grid > div:last-child {
    display: none;
}
.bread-crumbs-mob {
    display: none;
}
.banner-cnt {
    height: 70vh;
}

.contact-container {
    width: 70%;
}
div.global-container.contact-maps {
    width: 100%;
}
.cf-holder {
    margin: auto;
    width: 95%;
}
.cf-holder-child > * {
    width: 90%;
}
.come-in {
    opacity: 1;
  }
  .come-in:nth-child(odd) {
      
    opacity: 1;
  }
  
  @keyframes come-in {
    to { 
        transform: translateY(0px); opacity: 1; }
  }